root = true

[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.SS003.severity = none

[*.xaml]
indent_style = space
indent_size = 4
