{
  "OidcSettings": {
    "AuthenticationDomain": "{{AuthenticationDomain}}",
    "ClientId": "{{ClientId}}",
    "RedirectUri": "{{RedirectUri}}"
  },
  "ApiSettings": {
    "ApiDomain": "{{HttpsApiDomain}}"
  },
  "DebugSettings": {
    "EnableDebugSettings": {{EnableDebugOptions}}
  },
  "ContactInfoSettings": {
    "MailToAuthorize": "{{MailToAuthorize}}",
    "AccessRequestFormUrl": "{{AccessRequestFormUrl}}"
  }
}
